<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WfaVendas.Properties.Settings.LP2ConnectionString"
            connectionString="Data Source=RONALDOPC;Initial Catalog=LP2;Persist Security Info=True;User ID=sa;Password=Vini3005;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="WfaVendas.Properties.Settings.LP2ConnectionString1"
            connectionString="Data Source=RONALDOPC;Initial Catalog=LP2;Persist Security Info=True;User ID=sa;Password=Vini3005;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>